.software-products-section {
    /* background:#cfbbbb; */
    background: rgb(207, 187, 187, 0.8);
    height:100vh;
    padding: 100px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.software-products-section h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 10vh;
}

.software-products-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.software-products-section .hex-row{
    display:flex;
    gap:40px;
}

.software-products-section .offset{
    margin-top:-30px;      /* pulls row upward */
    margin-left: 0px;     /* centers between top hexagons */
}

.software-products-section .hexagon {
    width:350px;
    height:350px;

    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    position: relative;
    overflow:hidden;
    transition: all 0.5s ease;
}

.software-products-section .hexagon:hover {
    cursor: pointer;
}

.software-products-section .hexagon img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.software-products-section .hexagon video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.software-products-section .hexagon::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.software-products-section .hexagon .hex-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #fff
}

.software-products-section .hexagon .hex-content h6,
.software-products-section .hexagon .hex-content h5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
}

.software-products-section .contact-button {
    display: inline-block;
    text-decoration: none;
    padding: 20px 50px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 5vh;
    transition: all 0.5s ease
}

.software-products-section .contact-button:hover {
    background: #fff;
    color: #333;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .software-products-section .hex-row{
        flex-direction: column
    }

    .software-products-section {
        height: auto;
    }

    .software-products-section .offset{
        margin-top: 10px;
        margin-left: 0px;
    }
}
