.robotics-services {
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.robotics-services::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3)
}

.robotics-services video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    display: block
}


.robotics-services h6 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 500px;
    z-index: 3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 2rem;
    transition: all 0.5s ease
}

.robotics-services h6:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-10px);
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

@media screen and (max-width: 768px) {
    .robotics-services h6 {
        left: 20px;
        bottom: 20px;
        font-size: 1rem;
        line-height: 25px;
    }
    .robotics-services h6:hover {
        text-underline-offset: 2px;
    }
}