.team-section {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); */
    /* display: flex;; */
    /* align-items: center; */
    /* gap: 10px; */
    padding: 100px 50px 50px 50px;
}

.team-section .team-section-content {
    display: flex;
    /* align-items: center; */
    gap: 10px;
}

.team-section h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
    .team-section {
        padding: 100px 20px 50px 20px;
    }

    .team-section .team-section-content {
        flex-direction: column;
    }
}

